<%- include _partial/_header -%>

    <body style="background-color: rgba(210, 233, 210, 0.548); padding: 1em;">
        <h1><b>About this website</b></h1>
        <div style="background-color: rgb(194, 223, 248); padding: 1em;">
            <h3>System Administration and Application</h3>
            <div style="background-color: white; padding: 1em;">
                <p>This <b>activity</b> is to create a simple webpage and deploy it using a deployment tool. This activity is by pair.
                    <br>1) The webpage must be nice and presentable. The content must be something about you and your partner and links to your social media accounts. (Sample: <a href="https://www.kristenleecalligraphy.com/" target="_blank">https://www.kristenleecalligraphy.com/</a>)
                    <br>2) For the deployment tools, visit this link <a href="https://stackify.com/software-deployment-tools/" target="_blank">https://stackify.com/software-deployment-tools/</a> and choose one.
                    <br>3) Attached herewith is the activity log report. You will record all the things you did doing this activity.
                </p>
            </div>
        </div>
    </body>
    <%- include _partial/_footer -%>