<html>
<%- include _partial/_header -%>

    <body style="background-color: rgba(210, 233, 210, 0.548); padding: 1em;">
        <h1>Welcome to our landing page!</h1>
        <!-- <a href="https://www.facebook.com/mcjohnpaul.sienes.94">
            <img src="../views/_img/01.gif" alt="Sienes,MJP"><br>
            <a href="https://www.facebook.com/waleed.omar.net"><img src="../views/_img/waleed.png" alt="Waleed,A"></a>
            <h1>BOOOOOOOOOOOO</h1> -->
        <!-- <div class="row" style="padding: 1em; border: 2em;">
            <div class="col-lg-5 col-md-6 col-sm-12">
                <h3 class="feature-title" style="background-color: #dbb7d6; padding:1ex">Sienes, Mc John Paul</h3>
                <h4 style="color: white; background-color: gray;padding:1ex">Bachelor of Science in Information Technologies</h4>
            </div>
            <div class="col-lg-5 col-md-4 col-sm-12">
                <h3 class="feature-title" style="background-color: #dbb7d6; padding:1ex">Vadigran: Tasty</h3>

                <p style="color: white; background-color: gray;padding:1ex">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, earum!</p>
            </div>
        </div> -->
        <table border="2" width="100%" style="text-align:center; background-color:white">
            <tr>
                <td colspan="2" style="background-color: rgba(36, 36, 221, 0.829); color: white;">
                    <h1><b> Members</b></h1>
                </td>
            </tr>
            <tr>
                <td width="50%" style="padding: 1rem;">
                    <h2>Sienes, Mc John Paul</h2>
                    <a href="https://drive.google.com/file/d/1p86jgEaVdOs2rSK9KJ_lnaHlqV93nBKR/view?usp=sharing" target="_blank">
                        <button><h4>Click here for more Information</h4></button>
                    </a>
                </td>
                <td width="50%" style="padding: 1rem;">
                    <h2>Waleed, Alama</h2>
                    <a href="https://l.facebook.com/l.php?u=https%3A%2F%2Fdrive.google.com%2Ffile%2Fd%2F1Fk34j7oaeAxfAux2owFizOZBoRLqh55D%2Fview%3Fusp%3Ddrivesdk%26fbclid%3DIwAR2Nv-W_EGs5AS2bLlD6J-eScFHejHZr5cI-d84t1zF8O6L9GZ0IoZ9-nbM&h=AT20niGEMhIVcVvueDE33y7c4VWBpbof6jUhe73qN_tJHwnGoF2f2a5Ila4Hoyoorv72cXilEbby2Qi0lP6vK05ZznYyNzgbclBgF3TyJ0xz0GcSnPYTgSbV4QiP3Y8k1F2z-HTnDE95-0C-N8U_ug"
                        target="_blank">
                        <button><h4>Click here for more Information</h4></button>

                    </a>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="background-color: aquamarine;">
                    <h1><b> Accounts</b></h1>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="https://www.facebook.com/mcjohnpaul.sienes.94">
                        <h3>Facebook</h3>
                    </a>
                </td>
                <td>
                    <a href="https://www.facebook.com/waleed.omar.net">
                        <h3>Facebook</h3>
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="https://www.instagram.com/mjp_sienes/">
                        <h3>Instagram</h3>
                    </a>
                </td>
                <td>
                    <a href="https://l.facebook.com/l.php?u=https%3A%2F%2Fwww.instagram.com%2Fwaleed_alama%2F%3Ffbclid%3DIwAR1m5Ffc3vVH3gXrZvSgwzR9r68jBoWsAYNfOqNzjEL8NXlnSdnxvsmg85E&h=AT0LwsP2k368zUtSMk8hba39LZZEBu3fMUllpRESYX_TFQwejd6F2Oy_-JAXXkrj6g336-WJQsPIohmtNcXCUl45XooVNm4VgHfcdjByXNd1ULfB3NnPpANarsXuQqCkdX9eylHO4LVsuzV6juxV3A">
                        <h3>Instagram</h3>
                    </a>
                </td>
            </tr>



        </table>
    </body>
    <%- include _partial/_footer -%>

</html>