<!DOCTYPE html>
<html>
<footer class="page-footer" id="about" style="padding: 2em; background-color: rgba(71, 230, 66, 0.548);">
    <div class="container">
        <div class="row">

            <!-- <div class="col-lg-4 col-md-4 col-sm-12">
                <h5 class="text-uppercase font-weight-bold" id="about"><b>Members</b></h5>
                <p>
                    <ul>Sienes, Mc John Paul H.</ul>
                    <ul>Waleed, Alama</ul>
                </p>
            </div> -->

            <!-- <div class="col-lg-7 col-md-7 col-sm-12">
                <h5 class="text-uppercase font-weight-bold"><b>INFORMATION</b></h5>
                <ul>
                    <li>Contact Us:</li>
                    <ul><a href="https://www.facebook.com/mcjohnpaul.sienes.94">Facebook</a></ul>
                </ul>
            </div> -->


        </div>
        <br>
        <div class="footer-copyright text-center">© 2021 Institute of Computer Studies
            </a>
        </div>
    </div>
</footer>

</footer>

</html>